html body {
    font-family: 'Playfair Display', sans-serif;
    position: relative;
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
}
.header{
    background: url("../img/hbackgraund.jpg")
    no-repeat center top / cover;
}
.container{
    width: 840px;
    font-family: 'Playfair Display', sans-serif;

}
.logo{
    margin-top: 10%;
    position: absolute;
}
/*.topmenu {*/
    /*padding: 5% 0 0 0;*/
/*}*/
nav ul li {
    display: inline-block;
    list-style-type: none;
}
.menu{
    /*font-family: 'Roboto', sans-serif;*/
    padding: 0;
    margin: 4% 2% 2% 2%;
    font-size: 7.5pt;
    text-transform: uppercase;
}
.menu a{
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: 700;
}
.menu a:hover{
    color: #11bbb5;
    text-decoration: none;
    transition: all 0.5s ease;

}
.menu a:visited{
    color: #fff;
}
nav{

    margin-bottom: 100px;
}

.swiper-container {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 9px;
    color: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    /*display: flex;*/
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: block;
}

.btn-outline-info{
    text-transform: uppercase;
    color:#11bbb5;
    font-weight: 700;
    margin: 50px 0 200px 0;

}
.slider-header{
    font-size: 15pt;
    font-weight: 700;
}
.slider-text{
    font-weight: 400;
    font-size: 11pt;
    padding: 0 10%;
}
.swiper-pagination{
    padding-bottom: 70px;
}
/*2 screen*/
.blogo{
    padding-top: 70px;
}
.our-header{
    color: #413d4b;
    font-size: 15pt;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 70px;

}
.ourp{
    color: #413d4b;
    font-weight: 400;
    font-size: 11pt;
}
.ourbutton{
    text-transform: uppercase;
    color:#11bbb5;
    font-weight: 700;
    margin: 20px 0 50px 0;
}
/*video screen*/
.video{
    background: url("../img/vbackground.jpg")
    no-repeat center top / cover;
}
.play{
    background: url("../img/play.png")
    no-repeat center;
    padding: 250px 0 250px 0;
    position: relative;
}
.watch{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
}
.expert{
    color: #413d4b;
    font-size: 15pt;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 70px;
}
.experttext{
    color: #413d4b;
    font-weight: 400;
    font-size: 11pt;
    text-align: center;
}
.expert-line{
    margin-bottom: 10%;
}
/*expertise screen*/
.expert__item {
    margin: 10% auto 10% auto;
    width: 50px;
    height: 50px;
    display: block;
}
#expertise {
    text-align: center;
    padding: 55px;
}
.expert__item-icon1 {
    background: url("../img/wico.png") no-repeat center center;
}
.expert__item-icon2 {
    background: url("../img/pico.png") no-repeat center center;
}
.expert__item-icon3 {
    background: url("../img/mico.png") no-repeat center center;
}
.expert__item-icon4 {
    background: url("../img/sico.png") no-repeat center center;
}
.expert__item-icon5 {
    background: url("../img/gico.png") no-repeat center center;
}
.expert__item-icon6 {
    background: url("../img/hico.png") no-repeat center center;
}

.exptitle{
    color: #413d4b;
    font-family: 'Roboto', sans-serif;
    font-size: 9pt;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.experttext{
    font-family: 'Roboto', sans-serif;
    color: #413d4b;
    font-size: 8pt;
    font-weight: 400;
    text-align: center;
    margin-bottom: 50px;
}


/*meet screen*/
.meet{
    color: #fff;
    background: url("../img/team_background.jpg")
    no-repeat center top / cover;
}
.meettitle{
    color: #fff;
    font-size: 15pt;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
}
.meettex{
    font-weight: 400;
    font-size: 11pt;
    text-align: center;
}
.meet-line{
    margin-bottom: 50px;
}
.meet-item{
    text-align: center;
    border: 1px solid #FFFFFF;

}
.meet-item-img{
    display: block;
}
.name{
    margin-top: 20px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 7pt;
}
.job{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 7pt;
}
.meet__underitem{
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    text-align: center;
    font-size: 8pt;
}
.meetbutton{
    font-size: 8pt;
    margin: 0 auto 50px;
    text-align: center;
    color:#11bbb5;
    font-weight: 700;
}
/*preourworks screen*/

.preourworks__title{
    margin: 50px 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15pt;
}
.preourworks__seeall{
    margin: 55px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 8pt;
    font-weight: 400;
    text-align: right;
}
/*ourworks screen*/
.ourworks__img{
    max-width: 100%;
    max-height: 100%;
    position: relative;
}
/*postourworks screen*/
.postourworks__btn{
    text-transform: uppercase;
    font-size: 8pt;
    margin: 50px auto 50px;
    text-align: center;
    color:#11bbb5;
    font-weight: 700;
}
/*testimonials screen*/
.testimonials__img{
    max-width: 100%;
    max-height: 100%;
    position: relative;
}
/*clients screen*/

.clients__news-title{
    margin: 50px 0 50px 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15pt;
}
.clients__form {
    width: 90%;
    margin: 8px 0;
    padding: 8px 8px;
    font-size: 8pt;
    border: 1px solid #c8c8c8;
}
.clients__btn{
    margin: 20px 0 50px 0;
}
.clients__msg{
    width: 100%;
}
.noresize {
    resize: none;
    height: 200px;
}
.logosrow{
    /*display: flex;*/
    justify-content: space-between;
    margin-bottom: 45px;
}

.logosrow__img{
    margin: auto 0;
}
/*footer screen*/
.footer{
    background: url("../img/footer_background.jpg")
    no-repeat center top / cover;
}

.material-icons{
    color: #FFFFFF;
}
.lft__logo{
    margin-top: 30px;
    margin-bottom: 10px;
}

.lft__text{
    margin: 5px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 8pt;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 2;
    letter-spacing: 0.025em;
}
.cntr{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.025em;
}
.cntr__title{
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 45px;
}
.location-text{
    margin: 55px 0;
    font-size: 8pt;
    font-weight: 400;
    text-align: right;

}

.cntr__list{
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 9px;
    letter-spacing: 0.1em;

}

.cntr__location{
     list-style-image: url(../img/location_pin_white.svg);
 }

.cntr__phone{
    list-style-image: url("../img/phone-call90.svg");
}
.rght{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.025em;
}
.rght__title{
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 45px;
}
.rght__email{
    /*opacity: 0.1;*/
    display: inline;
    background: transparent;
    border: 1px solid #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 8pt;
    padding: 0 10px;
    width: 100%;
}
.rght__btn{
    display: inline;
    margin-left: 5px;
    width: 65px;
    height: 45px;
}
.rght__img{
    opacity: 0.5;
    width: 65px;
    height: 45px;
}

.offer {
    /*margin-left: 100px;*/
    margin-top: 15px;
}

.offer__img {
    margin-bottom: 45px;
}

.offer__intro {
    color: #ffffff;
    font-size: 17px;
    text-shadow: #2772a4 3px 3px 1px;
}

.offer_links a {
    opacity: 0.5;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: block;
    margin-right: 5px;
    transition: all 0.5s ease;
}

.offer__links-item {
    margin-right: 15px;
}

.offer__links-item_fb a {
    background: #000000 url("../img/facebook_soc.png") no-repeat center center;
}

.offer__links-item_tw a {
    background: #000000 url("../img/twitter_soc.png") no-repeat center center;
}

.offer__links-item_db a {
    background: #000000 url("../img/dribbble_soc.png") no-repeat center center;
}
.offer__links-item_in a {
    background: #000000 url("../img/instagram_soc.png") no-repeat center center;
}
.offer__links-item_gg a {
    background: #000000 url("../img/gplus_soc.png") no-repeat center center;
}
.offer__links-item_yt a {
    background: #000000 url("../img/youtube_soc.png") no-repeat center center;
}

.offer__links-item a:hover {
    opacity: 1;
}
.offer li{
    display: block;
    padding: 0;
    margin: 0;
}
.offer ul{
    display: block;
    padding: 0;
    margin: 0;
}

.post-footer__menu{
    padding: 0;
    margin: 8% 2% 10px 0;
    font-size: 7.5pt;
    text-transform: uppercase;
}
.post-footer__menu a{
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: 400;
}
.post-footer__menu a:hover {
    color: #11bbb5;
    text-decoration: none;
    transition: all 0.5s ease;
}
.post-footer__right{
    font-size: 7.5pt;
    color: #fff;
    margin: 16% 0 10px 0;
    text-align: right;
}

/*media screen*/
/*
@media screen and (max-width: 1200px){
}*/

@media screen and (max-width: 992px){
    .menu{
        font-size: 6.5pt;
    }

}
@media screen and (max-width: 772px){
    .logo{
        position: relative;
    }
    .blogo{
        margin: 0 auto;
        display: flex;
    }
    .our-header {
        text-align: center;
    }
    .ourp{
        text-align: center;
    }
    .ourbutton{
        display: flex;
        margin: 5% auto;
    }
    .experttext{
        font-size: 15px;
    }
    .meet-item{
        margin: 5%;
    }
    .preourworks__title{
        text-align: center;
        margin: 10% 0 5% 0;
    }
    .preourworks__seeall{
        font-size: 15px;
        text-align: center;
        margin: 5%;
    }
    .clients__news-title{
        text-align: center;
    }
    .clients__btn{
        display: flex;
        margin: 5% auto;
    }
    .lft__logo img{
        display: flex;
        margin: 5% auto;
    }
    .cntr__title{
        text-align: center;
    }
    .rght__title{
        text-align: center;
    }
    .rght__email{
        width: 100%;
    }
    .rght__btn{
        display: block;
        width: 100%;
    }
}

