html body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
}
header{
    background: url("../img/hbackgraund.jpg") no-repeat center top / cover;
}
.container{
    width: 840px;
}
.head {
    padding: 2% 0 0 0;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
}
.menu{
    padding: 0;
    margin: 2%;
    font-size: 8pt;
    text-transform: uppercase;

}
.menu a{
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: 700;
}
a:hover{
    color: #11bbb5;
    text-decoration:none;
    transition: all 0.5s ease;

}
.menu a:visited{
    color: #fff;
}
nav{
    margin-bottom: 100px;
}

.swiper-container {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 9px;
    color: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: block;
}

.btn-outline-info{
    text-transform: uppercase;
    color:#11bbb5;
    font-weight: 700;
    margin: 50px 0 200px 0;

}
.slider-header{
    font-family: 'Playfair Display', serif;
    font-size: 15pt;
    font-weight: 700;
}
.slider-text{
    font-weight: 400;
    font-size: 11pt;
    padding: 0 10%;
}
.swiper-pagination{
padding-bottom: 70px;
}
/*2 screen*/
.blogo{

    padding-top: 70px;
}
.our-header{
    color: #413d4b;
    font-family: 'Playfair Display', serif;
    font-size: 15pt;
    font-weight: 700;
text-transform: uppercase;
    padding-top: 70px;

}
.ourp{
    color: #413d4b;
    font-weight: 400;
    font-size: 11pt;
}
.ourbutton{
    text-transform: uppercase;
    color:#11bbb5;
    font-weight: 700;
    margin: 20px 0 50px 0;
}
/*video screen*/
.video{
    background: url("../img/vbackground.jpg") no-repeat center top / cover;
}
.play{
    background: url("../img/play.png") no-repeat center;
    padding: 250px 0 250px 0;
    position: relative;
}
.watch{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
}