html body {
    font-family: 'Playfair Display', sans-serif;
    position: relative;
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
}
.header{
    background: url("../img/hbackgraund.jpg") no-repeat center top / cover;
}
.container{
    width: 840px;
    font-family: 'Playfair Display', sans-serif;

}
.logo{
    margin-top: 10%;
    position: absolute;
}
/*.topmenu {*/
    /*padding: 5% 0 0 0;*/
/*}*/
nav ul li {
    display: inline-block;
    list-style-type: none;
}
.menu{
    /*font-family: 'Roboto', sans-serif;*/
    padding: 0;
    margin: 4% 2% 2% 2%;
    font-size: 7.5pt;
    text-transform: uppercase;
}
.menu a{
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: 700;
}
.menu a:hover{
    color: #11bbb5;
    text-decoration: none;
    transition: all 0.5s ease;

}
.menu a:visited{
    color: #fff;
}
nav{

    margin-bottom: 100px;
}

.swiper-container {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 9px;
    color: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    /*display: flex;*/
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: block;
}

.btn-outline-info{
    text-transform: uppercase;
    color:#11bbb5;
    font-weight: 700;
    margin: 50px 0 200px 0;

}
.slider-header{
    font-size: 15pt;
    font-weight: 700;
}
.slider-text{
    font-weight: 400;
    font-size: 11pt;
    padding: 0 10%;
}
.swiper-pagination{
    padding-bottom: 70px;
}
/*2 screen*/
.blogo{

    padding-top: 70px;
}
.our-header{
    color: #413d4b;
    font-size: 15pt;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 70px;

}
.ourp{
   /* font-family: 'Playfair Display', sans-serif;*/
    color: #413d4b;
    font-weight: 400;
    font-size: 11pt;
}
.ourbutton{
    text-transform: uppercase;
    color:#11bbb5;
    font-weight: 700;
    margin: 20px 0 50px 0;
}
/*video screen*/
.video{
    background: url("../img/vbackground.jpg") no-repeat center top / cover;
}
.play{
    background: url("../img/play.png") no-repeat center;
    padding: 250px 0 250px 0;
    position: relative;
}
.watch{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
}
.expert{
    color: #413d4b;
    font-size: 15pt;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 70px;
}
.experttext{
    color: #413d4b;
    font-weight: 400;
    font-size: 11pt;
    text-align: center;
}
.expert-line{
    margin-bottom: 80px;
}
/*expertise screen*/
.expico{
    margin: 0 0 10% 40%;
}
.exptitle{
    color: #413d4b;
    font-family: 'Roboto', sans-serif;
    font-size: 9pt;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.experttext{
    font-family: 'Roboto', sans-serif;
    color: #413d4b;
    font-size: 8pt;
    font-weight: 400;
    text-align: center;
    margin-bottom: 50px;
}
/*meet screen*/
.meet{

    color: #fff;
    background: url("../img/team_background.jpg") no-repeat center top / cover;
}
.meettitle{
    color: #fff;
    font-size: 15pt;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
}
.meettex{
    font-weight: 400;
    font-size: 11pt;
    text-align: center;
}
.meet-line{
    margin-bottom: 50px;
}
.meet-item{
    text-align: center;
    border: 1px solid #FFFFFF;

}
.meet-item-img{

    display: block;
}
.name{
    margin-top: 20px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 7pt;
}
.job{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 7pt;
}
.meet__underitem{
    margin-top: 50px;
    text-align: center;
    font-size: 7pt;
}
.meetbutton{
    font-size: 8pt;
    margin: auto;
    text-align: center;
    color:#11bbb5;
    font-weight: 700;
   /* margin: 20px 0 50px 0;*/
}